<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Railway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<%= csrf_meta_tags %>
  </head>

  <body>
  	<div id=sidebar>
  		<!-- <div>
  			<img id="logo" src="logo.png">
  		</div> -->
      <div id="logo"> 
        <%= link_to root_path do %>
          <p style="  background-image: url(logo.png);
      opacity :0.2; z-index:-9999; position :relative"> 
            <%= image_tag "logo.png" %></p>
        <%end%>
      </div>
  		
      <ul>
  			<li class="category">Website</li>
  			<li><%= link_to "Blog", root_path %></li>
  			<li><%= link_to "About", about_path %></li>
  		</ul>

  		<ul>
  			<li class="category">Social</li>
  			<li><a href="">Twitter</a></li>
  			<li><a href="">Instagram</a></li>
  			<li><a href="">Github</a></li>
  			<li><a href="">Email</a></li>
  			
  		</ul>
  		<!-- <p class="sign_in">Admin Login</p> -->
  </div>

  		<div id="main_content">
  			<div id="header">
			<% if current_page?(root_path) %>
			<p><%= link_to 'All Posts', root_path%></p>						
			<% elsif current_page?(about_path) %>
			<p><%= link_to 'About', about_path	%></p>			
			<%else%>
			<p><%= link_to 'Back to All Posts', root_path	%></p>			
			<%end%>
			
      <% if user_signed_in?%>
			<div class="buttons">
			<p><%= link_to 'new post', new_post_path,
			class: "button"
			%></p>
      <%= link_to("Log Out", destroy_user_session_path, method: :delete) 
      %>﻿ 
  		</div>
      <%else%>
      &nbsp;&nbsp;&nbsp;
            <a class="sign_in" href="/users/sign_in">Login</a>

      <%end%>
  		
      	</div>
  			<%flash.each do |name, msg| %>
  				<%= content_tag(:div, msg, class:alert) %>
  			<% end %>
  			  	<%= yield %>
  		</div>
  </body>
</html>
